@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Franklin+Gothic+Medium&display=swap');

:root {
  --amber-50: #fff8f0;
  --amber-100: #ffedd5;
  --amber-200: #fed7aa;
  --amber-300: #fdba74;
  --amber-400: #fb923c;
  --amber-500: #f97316;
  --amber-600: #ea580c;
  --amber-700: #c2410c;
  --amber-800: #9a3412;
  --amber-900: #712710;
}
